@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


@media(max-width: 1000px) {
  html {
    background-color: #374785;
    color: #FEFFFF;
    font-family: Poppins, sans-serif;
  }
  
  header {
    font-size: 34px;
  }
  
  pre {
    color: black;
    background-color: #A8D0E6;
  }
  
  a {
    display: none;
  }
}

@media(min-width: 1001px) {
  html {
    background-color: #374785;
    color: #FEFFFF;
    font-family: Poppins, sans-serif;
  }

  header {
    font-size: 34px;
  }

  #main-doc {
    margin-left: 380px; 
    padding: 0px 10px;
  }

  a {
    color: #FEFFFF;
    text-decoration: none;

  }

  #navbar {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: fit-content;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #24305E;
  }

  #navbar a:hover {
    color: #F76C6C;
  }

  pre {
    color: black;
    background-color: #A8D0E6;
    width: 600px;

  }
}

